#portfolio
  nav
    a(href="#" data-link="about").nav-link About
    span /
    a(href="#" data-link="works").nav-link Works
    span /    
    a(href="#" data-link="education").nav-link Education
    span /
    a(href="#" data-link="skills").nav-link Skills
    span /
    a(href="#" data-link="contact").nav-link Contact

  

  header#about
    svg(width="100%" height="600" viewBox="0 0 5 3" preserveAspectRatio="none")
      path(d="M0,0 H5 V2.5 Q2.5,3.5 0,2.5 Z" fill="#5e35b1")
    .about-header
      .about-img
        img(src="./assets/img/header.jpg")
      h2.about-title HELLO!
      .about-content 
        p My name is Hadwey Lu  from Malaysia,  but now i study in Taiwan.<br/>As a web development and designer <br/> i keep collating experience to build up my confidence and upgrade my skill to make thing better and great.
  
  section#works
    //- h3.section-title WORKS
    svg(width="100%" height="500" viewBox="0 0 5 3" preserveAspectRatio="none")
      path(d="M0,0 H5 V3 L0,2 Z" fill="#ececec")
    .works-container
      
      h3.section-title WORKS  

      .works-cards
        a(href="http://50th.sju.edu.tw" title="50TH website" target="_blank").works-card
          img(src="./assets/img/50th.png" alt="50TH website")
          .works-content
            p Helping my university develop a 50 Anniversary website
      
        a(href="./assets/img/PRO9.png" title="Competition poster" target="_blank").works-card
          img(src="./assets/img/PRO9.png" alt="Competition poster")          
          .works-content
            p A library design poster competition i got second place 
            
        
        a(href="./assets/img/Mr_ma.jpg" title="Ex-president lacture poster" target="_blank").works-card
          img(src="./assets/img/Mr_ma.jpg" alt="Ex-president lacture poster")          
          .works-content
            p A poster design use to welcome ex-president came to lacture
        
        a(href="https://goo.gl/photos/UBagN6YC9dEmV67JA" title="For more" target="_blank").works-card
          .works-more +
        

  section#skills
    h3.section-title(style="color:white") SKILLS  
    .skills-container
      .skills-range 
        .skills-range_half1
        .skills-range_half2(style="transform:rotate(-195deg)")
        .skills-range-title
          p HTML
          span *pug
      .skills-range 
        .skills-range_half1
        .skills-range_half2(style="transform:rotate(-150deg)")
        .skills-range-title
          p CSS
          span *sass
      .skills-range 
        .skills-range_half1
        .skills-range_half2(style="transform:rotate(-100deg)")
        .skills-range-title
          p JAVACRIPT
          span *vue / *react
      .skills-range 
        .skills-range_half1
        .skills-range_half2(style="transform:rotate(-80deg)")
        .skills-range-title
          p PHP
          span *laravel

  section#education
    .education-container
      h3.section-title(style="text-align:right") EDUCATION
      p University FCU (2014~2016)
      ul
        li Computer language - 
        li HTML & CSS - 
        li Javascrpit - 
        li PHP - 
        li Database Management - 
      p University SJU (2016-now)
      ul
        li Multimedia Design - 
        li PhotoShop - 
        li Video Editing - 

  section#contact
    .contact-container
      h3.section-title(style="text-align: left;color:white") CONTACT
      p If you have some project able to  let me join , please feel free to contact with me.<br/>I will do my best to finish it.
      .contact-icons
        //- a(href="#" title="facebook")
        //-   .contact-icon
        //-     .icon-social-facebook.icon
        a(href="mailto:hadwey00@gmail.com" title="gmail" )
          .contact-icon
            .icon-social-google.icon
        a(href="https://twitter.com/mouse_lu" title="twitter" target="_blank")
          .contact-icon
            .icon-social-twitter.icon
        a(href="https://github.com/mouselu00" title="github" target="_blank")
          .contact-icon
            .icon-social-github.icon
        a(href="https://github.com/mouselu00/blog/issues" title="blog" target="_blank")
          .contact-icon
            .icon-book-open.icon
        a(href="https://codepen.io/haruhhiro/" title="codepen" target="_blank")
          .contact-icon
            .icon-layers.icon 